.dashboard-header{
    background-color: rgb(228, 228, 228);
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0px 0px 10px 3px rgb(117, 117, 117);
    z-index: 1;
    position: fixed;
    width: 100%;
}

.dashboard-header .menu-toggler{
    margin: -25px;
    margin-left: -30px;
    padding: 20px 25px;
}

.dashboard-content{
    justify-content: space-between;
}

.dashboard-left-sidebar{
    width: 250px;
    height: calc(100vh - 70px);
    margin-top: 70px;
    z-index: 1;
    box-shadow: -2px 10px 10px 3px rgb(117, 117, 117);
}

.dashboard-left-sidebar .nav-link{
    border-radius: 0px !important;
    white-space: nowrap;
}

.dls-open{
    width : 250px;
    align-items: start;
    /* transition: all 0.7s; */
}

.dls-open .dls-m-name{
    display: inline; 
    padding-left: 10px;
}

.dls-open .nav-link,.dls-open .dropdown{
    min-width: 80px;
}
.dls-open .nav-link{
    padding-left: 25px;
}

.dls-close .dls-m-name{
    display: none;
}

.dls-close{
    width : 80px;
    /* transition: all 700ms */
}


.dashboard-main-container{
    margin-left: 80px;
    margin-top: 70px;
    background-color: rgb(239, 239, 239);
    width: 100%;
    z-index: 0;
    min-height: calc(100vh - 70px);
}

.dashboard-right-sidebar{
    margin-top: 70px;
    display: none;
}

.menu-toggler.open{
    width: 250px;
    justify-content: space-between;
    align-items: center;
}