.login-card{
    width: 320px;
    /* height: 300px; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-box-shadow: 0 0 20px 2px #242424;
    -moz-box-shadow: 0 0 20px 2px #242424;
    box-shadow: 0 0 20px 2px #242424;
}

.login-card > * {
    padding: 10px 20px;
}

.login-card .form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-card  input, .login-card .form-group {
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid rgb(217, 217, 217);
    background-color: inherit;
}

.login-card input:focus {
    border-color: rgb(217, 127, 127);
    box-shadow: unset;
    background-color: inherit;
}

.login-card-header{
    background-color: rgb(196, 196, 196);
    border-radius: 5px 5px 0px 0px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.login-card-header >* {
    width: 135px;
    /* border-radius: 0px; */
}
.login-card-body{
    background-color: rgb(255, 255, 255);
    flex-grow: 2;
}
.login-card-footer{
    background-color: rgb(0, 0, 0);
    border-radius: 0px 0px 5px 5px;
}

.bg-login{
    background: #406d5d;
    background: -webkit-linear-gradient(138deg, #406d5d 0%, #5c1a53 100%);
    background: linear-gradient(138deg, #73a091 0%, #5c1a53 100%);
}